/* responsive.css */

/* Ocultar por defecto en pantallas pequeñas (móviles) */
.hide-mobile {
    display: none;
}

/* Mostrar en pantallas medianas y grandes (tabletas y laptops) */
@media (min-width: 640px) {
    .hide-mobile {
        display: block; /* o inline-flex o block, según lo necesites */
    }
}

/* Mostrar solo en pantallas pequeñas (móviles) */
.show-mobile {
    display: block; /* o inline-flex o block, según lo necesites */
}

@media (min-width: 640px) {
    .show-mobile {
        display: none;
    }
}
